* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: inherit;
    font-size: 16px;
    background-color: rgb(249, 246, 253);
}

.toggle-container,
.pricing-plans {
    display: flex;
    justify-content: center;
}

.pricing-toggle {
    margin: 5rem 0;
    text-align: center;
}

.pricing-toggle h1 {
    color: rgb(70, 70, 70);
    padding: 1rem;
}

.toggle-container {
    padding: 1rem;
    align-items: center;
}

.toggle-container p {
    padding: 0 2rem;
    color: rgb(71, 71, 71);
}

.pricing-plans h3 {
    color: rgb(82, 82, 82);
}


.pricing-plans h3.highlighted-h3 {
    color: rgb(245, 243, 243);
}

.pricing-plan {
    text-align: center;
    width: 25vw;
    height: 55vh;
    font-size: 1.5rem;
    background-color: white;
    box-shadow: 0px 0px 70px -45px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 3rem;
    color: rgb(65, 65, 65);
}

/* .border {
    border-top: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid rgb(161, 161, 161);
} */

.highlighted {
    background-image: linear-gradient(to right bottom, rgb(175, 153, 255), rgb(120, 85, 247));
    height: 65vh;
    margin-top: -5vh;
    color: rgb(247, 244, 244);
}

.hidden {
    display: none;
}

.pricing-plan .plan-price {
    font-weight: 700;
    font-size: 4rem;
}

.plan-advantages {
    padding: 1rem 0;
    border-top: 1px solid rgb(185, 185, 185);
    border-bottom: 1px solid rgb(185, 185, 185);
}

button {
    box-sizing: border-box;
}

.learnmore-btn {
    padding: 1rem 0;
    border: 1px solid transparent;
    border-radius: .5rem;
    cursor: pointer;
    background-image: linear-gradient(to right bottom, rgb(195, 179, 250), rgb(120, 85, 247));
}

.learnmore-btn:hover {
    border: 1px solid rgb(43, 43, 43);
    background-image: none;
    background-color: white;
}

.btn-text {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

.learnmore-btn:hover .btn-text {
    background: -webkit-linear-gradient(rgb(195, 179, 250), rgb(120, 85, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



button.highlighted-btn {
    background-image: none;
    background-color: white;
}

button.highlighted-btn:hover {
    border: 1px solid white;
    background-image: linear-gradient(to right bottom, rgb(195, 179, 250), rgb(120, 85, 247));
}

.highlighted-text {
    background: -webkit-linear-gradient(rgb(195, 179, 250), rgb(120, 85, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button.highlighted-btn:hover .highlighted-text {
    -webkit-text-fill-color: white;
}

.toggle {
    width: 4rem;
    height: 2rem;
    background-image: linear-gradient(to right bottom, rgb(195, 179, 250), rgb(120, 85, 247));
    border-radius: 2.2rem;
    padding: .2rem;
    cursor: pointer;
}

.toggle-btn {
    width: 1.6rem;
    height: 1.6rem;
    background-color: white;
    border-radius: 100%;
}

@media all and (max-width: 1200px) {
    .pricing-plans {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pricing-plan {
        width: 70vw;
        height: 80vh;
        margin-bottom: 5rem;
    }
}

@media all and (max-width: 1024px) {
    .pricing-plan {
        height: 50vh;
        margin-bottom: 8rem;
    }
}


@media all and (max-width: 768px) {
    .pricing-plan {
        height: 65vh;
        margin-bottom: 8rem;
    }
}

@media all and (max-width: 425px) {
    .pricing-plan {
        height: 60vh;
        width: 85vw;
    }

    .pricing-plan .plan-price {
        font-weight: 700;
        font-size: 3rem;
    }

    .toggle-container p {
        padding: 0 .8rem;
    }
}

@media all and (max-width: 320px) {
    .pricing-plan {
        font-size: 1.2rem;
        height: 60vh;
    }